{% extends 'base.html.twig' %}

{% block title %}Camps{% endblock %}

{% block body %}
<div class="col-md-6">
    <h1>Liste des Camps</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Nom</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Places Totales</th>
            <th>Places Restantes</th>
            <th>Tranche d'âge</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for camp in campList %}
            <tr>
                <td>{{ camp.name }}</td>
                <td>{{ camp.startDate|date('Y-m-d') }}</td>
                <td>{{ camp.endDate|date('Y-m-d') }}</td>
                <td>{{ camp.capacity }}</td>
                <td>{{ camp.remainingPlaces }}</td>
                <td>{{ camp.ageRange.detailedName }}</td>
                <td>
                    <a href="{{ path('camp_delete',{'id':camp.id}) }}" class="btn btn-danger">Supprimer</a>
                    <a href="{{ path('camp_edit',{'id':camp.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
